{{#if loggedIn}}
<button onclick="location.href = 'http://localhost:3001'" class="btn return-btn">Return</button>
<section class="single-blogpost">
    <div class="blogpost-details">
        <h3>{{post.title}}</h3>
        <p class="single-blogpost-contents">{{post.contents}}</p>
    </div>
    <div>
        <button class="delete-btn btn btn-danger" data-id="{{post.id}}">Delete</button>
    </div>
</section>
{{else}}
<a href="/login">You must login first to view this page</a>
{{/if}}

<script src="/js/singleReminder.js"></script>
